TEAM_ID=

PRODUCT_NAME=Absenza
PRODUCT_BUNDLE_IDENTIFIER=id.neo.hr.NeoHR$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0.0

// Required by MapLibre Native on iOS.
OTHER_LDFLAGS=$(inherited) -lc++ -lz -framework CoreFoundation -framework CoreGraphics -framework CoreText -framework Foundation -framework ImageIO -framework Metal -framework QuartzCore

//-l"c++"
//-lz
//-framework CoreFoundation
//-framework CoreGraphics
//-framework CoreText
//-framework Foundation
//-framework ImageIO
//-framework Metal
//-framework QuartzCore
